@import 'styles/base/mixins';
@import 'styles/base/variables';

.categories {
  @include flex-constructor($justify: center, $gap: 16px);
  flex-wrap: wrap;

  @media screen and (max-width: 1439px) {
    gap: 25px;
  }

  @media screen and (max-width: 1025px) {
    gap: 16px;
  }

  @media screen and (max-width: 701px) {
    justify-content: center;
  }
}

.error__wrapper {
  @include flex-constructor($direction: column, $justify: normal, $gap: 10px);
  width: 100%;
  padding: 30px 0;
  background: $transparent-white-background;
  border-radius: $main-border-radius;
  font-family: $main-font;
  font-style: $font-style;
  font-weight: $font-regular;
  font-size: 16px;
  line-height: 47px;
  letter-spacing: $main-letter-spacing;
  color: $light-color-text;
  margin-top: 30px;
}
