.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
  margin: 0 80px;

  @media screen and (min-width: 1441px) {
    margin: 0 auto;
    width: 1280px;
  }

  @media screen and (max-width: 1025px) {
    max-width: 632px;
    margin: 0 auto;
  }

  @media screen and (max-width: 701px) {
    margin: 0 40px;
    max-width: 100%;
  }

  @media screen and (max-width: 431px) {
    max-width: 100%;
    margin: 0 7px;
  }
}
