@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.account {
  &__title {
    @extend %h2-36;
    color: $light-color-text;
    margin: 80px 0 40px;

    @media screen and (max-width: 1025px) {
      font-size: 32px;
      line-height: 42px;
      margin: 80px 0 36px;
    }

    @media screen and (max-width: 701) {
      margin: 60px 0 40px;
    }
  }

  &__wrapper {
    @include flex-constructor($align: flex-start, $gap: 5px);
    width: 100%;

    @media screen and (max-width: 1300px) {
      flex-direction: column;
    }
  }

  &__tabs {
    max-width: 956px;
    width: 100%;

    @media screen and (max-width: 1300px) {
      margin-top: 36px;
      max-width: 100%;
    }
  }
}
