@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.nav {
  &__link {
    @extend %sub-h1-32;
    position: relative;
    cursor: pointer;
    color: $light-color-text;

    @media screen and (max-width: 430px) {
      font-size: 24px;
      line-height: 31px;
    }
  }

  &__buttons {
    @include flex-constructor($justify: normal, $gap: 46px);

    @media screen and (max-width: 701px) {
      gap: 36px;
    }

    @media screen and (max-width: 400px) {
      gap: 20px;
    }
  }

  &__burger_first,
  &__burger_second,
  &__burger_third {
    width: 20px;
    height: 3px;
    background-color: $light-color-text;
  }

  &__burger_first,
  &__burger_third {
    margin: 0 auto;
  }

  &__burger_second {
    margin: 5px auto;
  }

  &__burger_wrapper {
    cursor: pointer;
    width: 42px;
    height: 40px;
    position: relative;
    border-radius: 12px;
    z-index: 5;
    background: transparent;
    border: $accent-border;
    transition: $main-transition;
    -moz-transition: $main-transition;
    -webkit-transition: $main-transition;
    -o-transition: $main-transition;

    &:hover {
      opacity: 0.7;
    }
  }
}

.nav__burger_wrapper.active .nav__burger_first {
  transform: translateY(9px) translateX(0) rotate(45deg);
}

.nav__burger_wrapper.active .nav__burger_second {
  opacity: 0;
}

.nav__burger_wrapper.active .nav__burger_third {
  transform: translateY(-7px) translateX(0) rotate(-45deg);
}

.nav__burger_wrapper div {
  transition: $main-transition;
  -moz-transition: $main-transition;
  -webkit-transition: $main-transition;
  -o-transition: $main-transition;
}

.overlay {
  position: fixed;
  background: $main-background;
  top: 82px;
  left: 0;
  width: 100vw;
  height: 0vh;
  visibility: hidden;
  transition: $mobile-menu-transition;
  -moz-transition: $mobile-menu-transition;
  -webkit-transition: $mobile-menu-transition;
  -o-transition: $mobile-menu-transition;
  overflow: hidden;
  z-index: 4;
}

.overlay.open {
  visibility: visible;
  height: 100vh;
  overflow: hidden;
}

.overlay.open li {
  -webkit-animation: fadeInFromBottom 0.5s ease forwards;
  animation: fadeInFromBottom 0.5s ease forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

.overlay.open li:nth-of-type(5) {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.overlay.open li:nth-of-type(6) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.overlay nav {
  position: relative;
  height: 50%;
  top: 40%;
  transform: translateY(-50%);
  margin: 0 196px;

  @media screen and (max-width: 1025px) {
    margin: 0 auto;
    width: 632px;
  }

  @media screen and (max-width: 701px) {
    max-width: 100%;
    margin: 0 40px;
  }
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  position: relative;
  opacity: 0;
  margin-bottom: 32px;
}

.overlay ul li a {
  font-family: $main-font;
  text-decoration: none;
}

.button__account {
  background: transparent;
}

@-webkit-keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    top: 20%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    top: 20%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
