@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.textarea {
  @include flex-constructor($align: normal, $justify: normal, $gap: 10px);
  padding: 10px;
  background: $forms-grey;
  border-radius: $small-border-radius;
  width: 100%;
  resize: none;
  border: $fields-border;
  transition: $main-transition;

  &__wrapper {
    width: 100%;
  }

  &:focus {
    border: $accent-fields-border;
  }

  &:hover {
    border: $accent-fields-border;
  }

  &__error {
    @include flex-constructor($align: normal, $justify: normal, $gap: 10px);
    padding: 10px;
    background: $forms-grey;
    border-radius: $small-border-radius;
    width: 100%;
    resize: none;
    border: $error-fields-border;

    &_message {
      @extend %p3-14;
      color: $attention_color;
      margin-top: 10px;
    }
  }
}
