@import 'styles/base/variables';
@import 'styles/base/extends';

.section {
  margin-top: 80px;

  @media screen and (max-width: 701px) {
    margin-top: 60px;
  }
}

.section__title {
  @extend %h2-36;
  color: $light-color-text;

  @media screen and (max-width: 1439px) {
    text-align: center;
  }

  @media screen and (max-width: 1025px) {
    font-size: 32px;
    line-height: 42px;
    text-align: left;
  }

  @media screen and (max-width: 701px) {
    text-align: center;
  }

  @media screen and (max-width: 501px) {
    text-align: left;
  }
}
