@import 'styles/base/mixins';

.hero {
  @include flex-constructor();
  margin: 160px 0;
  width: 100%;

  @media screen and (max-width: 1230px) {
    flex-direction: column-reverse;
    margin: 100px 0 80px;
  }

  @media screen and (max-width: 701px) {
    margin: 60px 0;
  }
}
