@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.plan {
  &__wrapper {
    @include flex-constructor($direction: column, $align: flex-start, $justify: normal, $gap: 28px);
    padding: 23px 30px;
    background: $transparent-white-background;
    border-radius: $main-border-radius;
    max-width: 416px;

    @media screen and (max-width: 1300px) {
      padding: 32px 30px;
      gap: 28px;
      max-width: 100%;
    }
  }
  &__field {
    @include flex-constructor($gap: 10px);
    width: 100%;

    &__title {
      @include p2-16();
      color: $dark-color-text;
    }

    &__value {
      @include p2-16();
      color: $light-color-text;
    }
  }

  &__cancel {
    @include p2-16();
    color: $attention_color;
    background: transparent;
  }
}

.chose_plan {
  @extend %p1-24;
  color: $lines;
}

.neutral {
  @include p2-16();
  color: $light-color-text;
}

.plans__wrapper {
  @include flex-constructor($align: normal, $gap: 16px);
  margin-top: 24px;
  flex-wrap: wrap;

  @media screen and (max-width: 1241px) {
    justify-content: space-around;
  }

  @media screen and (max-width: 701px) {
    justify-content: center;
  }
}
