.image {
  background-image: url('assets/hero.png');
  background-repeat: no-repeat;
  width: 520px;
  height: 520px;
  background-size: contain;

  @media screen and (max-width: 1024px) {
    height: 632px;
    width: 632px;
  }

  @media screen and (max-width: 701px) {
    height: 400px;
    width: 400px;
  }

  @media screen and (max-width: 431px) {
    width: 300px;
    height: 300px;
  }
}
