@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.navigation__wrapper {
  @include flex-constructor($direction: column, $align: flex-start, $justify: normal, $gap: 28px);
  padding: 28px 18px;
  background: $navigation-account-background;
  border-radius: $main-border-radius;
  width: 14%;

  @media screen and (max-width: 1300px) {
    @include flex-constructor($justify: center, $gap: 30px);
    width: 100%;
    padding: 18px;
  }
}

.link {
  @extend %button-m;
  color: $light-color-text;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: $main-accent-color;
    transition: $main-transition;
    -moz-transition: $main-transition;
    -webkit-transition: $main-transition;
    -o-transition: $main-transition;
  }

  &:hover:after {
    width: 100%;
  }
}
