@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.comment {
  @include flex-constructor($direction: column, $justify: normal, $align: flex-start, $gap: 16px);
  padding: 16px;
  background: $transparent-white-background;
  box-shadow: $main-box-shadow;
  border-radius: $main-border-radius;

  &__header {
    @include flex-constructor($align: flex-start);
    width: 100%;
  }

  &__date {
    @include p2-16();
    color: $light-color-text;
  }

  &__author {
    @include flex-constructor($align: normal, $justify: normal, $gap: 14px);
  }

  &__avatar {
    width: 100%;
    height: 100%;
    border-radius: $circle-border-radius;

    &_wrapper {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: $circle-border-radius;
    }
  }

  &__nickname {
    @extend %p1-24;
    color: $light-color-text;
  }

  &__text {
    @extend %p3-14;
    color: $light-color-text;
  }
}
