@import 'styles/base/variables';
@import 'styles/base/mixins';

.form {
  padding: 48px;
  background: $transparent-white-background;
  border-radius: $main-border-radius;
  margin-bottom: 16px;

  &__wrapper {
    @include flex-constructor($direction: column, $justify: center, $align: stretch, $gap: 22px);
  }

  &__container {
    @include flex-constructor($justify: normal, $gap: 24px);
  }
}

.avatar {
  &__wrapper {
    max-width: $large-avatar-size;
    max-height: $large-avatar-size;
    border-radius: $circle-border-radius;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: $circle-border-radius;
  }
}

.official__fields {
  @include flex-constructor($direction: column, $justify: normal, $align: stretch, $gap: 8px);
  width: 100%;
}

.button__wrapper {
  margin: 0 auto;
  width: 200px;
}
