@import 'styles/base/variables';
@import 'styles/base/mixins';

.error__wrapper {
  @include flex-constructor($direction: column, $justify: normal, $gap: 10px);
  width: 100%;
  padding: 30px 0;
  background: $transparent-white-background;
  border-radius: $main-border-radius;
  font-family: $main-font;
  font-style: $font-style;
  font-weight: $font-regular;
  font-size: 16px;
  line-height: 47px;
  letter-spacing: $main-letter-spacing;
  color: $light-color-text;
  margin-top: 30px;
}
