@import 'styles/base/variables';

.box {
  width: 24px;
  height: 18px;
  border: $check-box-border;
  border-radius: $check-box-radius;
  background: transparent;

  @media screen and (max-width: 1024px) {
    height: 24px;
  }

  @media screen and (max-width: 550px) {
    height: 18px;
  }

  @media screen and (max-width: 340px) {
    height: 15px;
  }
}
