@import './base/reset';
@import './base/variables';
@import './base/fonts';
@import './base/extends';
@import './base/mixins';

body {
  font-family: $main-font;
  font-weight: $font-regular;
  font-style: $font-style;
  background: $main-background;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
