@import 'styles/base/mixins';
@import 'styles/base/variables';
@import 'styles/base/extends';

.button {
  @include flex-constructor($justify: center);
  padding: 10px 22px;
  background: $main-accent-color;
  border-radius: $medium-border-radius;
  width: 100%;
  max-width: 308px;

  @media screen and (max-width: 1025px) {
    margin: 0 auto;
    max-width: 100%;
  }

  &__text {
    @extend %button-l;
    background: $button-text-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @media screen and (max-width: 1025px) {
      font-size: 16px;
      line-height: 21px;
    }
  }
}

.button-chose {
  @include flex-constructor($justify: center);
  padding: 10px 22px;
  background: $chose-color;
  border-radius: $medium-border-radius;
  width: 100%;
  max-width: 308px;

  @media screen and (max-width: 1025px) {
    margin: 0 auto;
    max-width: 100%;
  }

  &__text {
    @extend %button-l;
    background: $button-text-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @media screen and (max-width: 1025px) {
      font-size: 16px;
      line-height: 21px;
    }
  }
}
