@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.comments {
  width: 792px;
  margin: 0 auto;

  @media screen and (max-width: 1025px) {
    width: 100%;
  }

  &__title {
    @extend %p1-24;
    color: $light-color-text;
  }

  &__title_wrapper {
    @include flex-constructor($justify: normal, $gap: 16px);
    margin-bottom: 15px;
  }

  &__wrapper {
    @include flex-constructor($direction: column, $justify: normal, $align: normal, $gap: 20px);
  }
}
