@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.agreement {
  @include flex-constructor($justify: normal, $gap: 10px);

  &__wrapper {
    @include flex-constructor($direction: column, $align: normal, $justify: normal, $gap: 10px);
  }

  &__text {
    @extend %p3-14;
    color: $light-color-text;
  }

  &__link {
    color: $main-accent-color;
  }

  &__error {
    @extend %p3-14;
    color: $attention_color;
  }
}
