@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.rate {
  &__wrapper {
    @include flex-constructor($justify: normal, $gap: 12px);
    padding: 6px 10px;
    border: $general-border;
    border-radius: $small-border-radius;
    max-width: 177px;
  }

  &__button {
    @extend %button-m;
    color: $accent-greeny-cyan;
    background: transparent;
  }
}

.star__wrapper {
  @include flex-constructor($justify: normal, $align: normal, $gap: 4x);
}
