@import 'styles/base/mixins';

.section__filter {
  @include flex-constructor($justify: normal, $gap: 16px);
  margin: 40px 0 24px;

  @media screen and (max-width: 1439px) {
    justify-content: center;
  }

  @media screen and (max-width: 1025px) {
    justify-content: flex-start;
  }

  @media screen and (max-width: 701px) {
    justify-content: center;
  }

  @media screen and (max-width: 501px) {
    justify-content: flex-start;
  }
}
