@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.button,
.large__button {
  @include flex-constructor($justify: center);
  @extend %button-m;
  padding: 10px 32px;
  background: $secondary-accent-skyblue;
  border-radius: $small-border-radius;
  color: $secondary-button-text-color;
  transition: $main-transition;
}

.button:hover,
.large__button:hover {
  background: $secondary-button-text-color;
  color: $secondary-accent-skyblue;

}

.large__button {
  width: 100%;
}
