@import 'styles/base/mixins';
@import 'styles/base/variables';
@import 'styles/base/extends';

.history {
  &__container {
    @include flex-constructor($direction: column, $align: flex-start, $justify: normal, $gap: 20px);
    width: 100%;
  }

  &__wrapper {
    width: 100%;
  }

  &__item {
    @include flex-constructor($direction: column, $justify: center, $align: flex-start, $gap: 10px);
    padding: 16px;
    background: $transparent-white-background;
    box-shadow: $main-box-shadow;
    border-radius: $main-border-radius;
  }

  &__date {
    @include p2-16();
    color: $light-color-text;
  }
}

.message {
  @extend %p3-14;
  color: $light-color-text;

  &__plan {
    color: $lines;
  }

  &__category {
    color: $main-accent-color;
  }
}
