@import 'styles/base/variables';
@import 'styles/base/extends';

.navigation_link {
  @extend %button-m;
  color: $light-color-text;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: $main-accent-color;
    transition: $main-transition;
    -moz-transition: $main-transition;
    -webkit-transition: $main-transition;
    -o-transition: $main-transition;
  }

  &:hover:after {
    width: 100%;
  }
}
