@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.logo {
  @include flex-constructor($justify: normal, $gap: 10px);
  transition: $main-transition;

  &:hover {
    opacity: .7;
  }

  &_text {
    @extend %sub-h1-32;
    color: $light-color-text;

    @media screen and (max-width: 470px) {
      font-size: 24px;
      line-height: 31px;
    }

    @media screen and (max-width: 390px) {
      font-size: 20px;
    }
  }
}
