@import 'styles/base/variables';
@import 'styles/base/extends';

.title {
  @extend %h2-36;
  color: $light-color-text;
  text-align: center;

  @media screen and (max-width: 1025px) {
    font-size: 32px;
    line-height: 42px;
  }
}
