@import 'styles/base/variables';
@import 'styles/base/extends';

.button {
  @extend %button-m;
  border: $accent-border;
  border-radius: $small-border-radius;
  color: $light-color-text;
  padding: 4px 10px;

  @media screen and (max-width: 1025px) {
    font-size: 32px;
    line-height: 42px;
  }

  @media screen and (max-width: 431px) {
    font-size: 24px;
    line-height: 31px;
  }
}

.blink:not(:hover) {
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    border-color: $accent-border;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: $accent-border;
  }
}