@import 'styles/base/variables';
@import 'styles/base/extends';

.input {
  padding: 10px 40px 10px 10px;
  width: 100%;
  background: $forms-grey;
  border-radius: $small-border-radius;

  &__wrapper {
    position: relative;
    width: 33%;

    @media screen and (max-width: 1025px) {
      width: 58%;
    }

    @media screen and (max-width: 431px) {
      width: 100%;
    }
  }

  &__reset {
    position: absolute;
    right: 10px;
    top: 5px;
    background: transparent;
    display:flex;
    opacity: 0.3;
    transition: $main-transition;

    &:hover {
      opacity: 1;
    }
  }

  &::placeholder {
    @extend %p3-14;
    color: $grey;
  }
}
