@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.plan {
  &-premium {
    @include flex-constructor($direction: column, $justify: center, $gap: 54px);
    @include plan-card();

    @media screen and (max-width: 1240px) {
      min-width: 250px;
    }

    @media screen and (max-width: 1025px) {
      padding: 30px;
      gap: 36px;
      max-width: 200px;
      min-width: 200px;
    }

    @media screen and (max-width: 701px) {
      max-width: 265px;
      min-width: 265px;
      padding: 16px 0;
      gap: 16px;
    }

    @media screen and (max-width: 500px) {
      max-width: 100%;
      width: 100%;
    }
  }

  &-general {
    @include flex-constructor($direction: column, $justify: center, $gap: 54px);
    @include plan-card($background: $transparent-white-background, $border: $general-border);

    @media screen and (max-width: 1240px) {
      min-width: 250px;
    }

    @media screen and (max-width: 1025px) {
      padding: 30px;
      gap: 36px;
      max-width: 200px;
      min-width: 200px;
    }

    @media screen and (max-width: 701px) {
      max-width: 265px;
      min-width: 265px;
      padding: 16px 0px;
      gap: 16px;
    }

    @media screen and (max-width: 500px) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__title {
    @extend %p1-24-bold;
    text-align: center;
    color: $lines;
  }

  &__info {
    @include flex-constructor($direction: column, $justify: center, $gap: 8px);
  }

  &__description {
    @extend %p1-24;
    color: $light-color-text;
    text-align: center;

    @media screen and (max-width: 1025px) {
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__price {
    @extend %p1-24;
    color: $accent-greeny-cyan;
    text-align: center;

    @media screen and (max-width: 1025px) {
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__restrictions {
    @include p2-16();
    color: $dark-color-text;
    text-align: center;

    @media screen and (max-width: 1025px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.button__wrapper {
  width: 100%;

  @media screen and (max-width: 701px) {
    max-width: 130px;
  }
}
