@import 'styles/base/mixins';

.plans {
  @include flex-constructor($direction: column, $align: stretch, $justify: normal, $gap: 60px);
  margin-top: 100px;

  @media screen and (max-width: 1024px) {
    margin-top: 80px;
    gap: 40px;
  }

  @media screen and (max-width: 701px) {
    margin-top: 60px;
  }

  &__list {
    @include flex-constructor($justify: center, $align: stretch, $gap: 70px);

    @media screen and (max-width: 1050px) {
      gap: 40px;
    }

    @media screen and (max-width: 1024px) {
      gap: 16px;
    }

    @media screen and (max-width: 701px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
