@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.section {
  margin: 80px 0 100px;

  @media screen and (max-width: 1025px) {
    margin: 80px 0 60px;
  }

  @media screen and (max-width: 701px) {
    margin: 60px 0;
  }
}

.category {
  &__title {
    @extend %h2-36;
    color: $light-color-text;

    @media screen and (max-width: 1025px) {
      font-size: 32px;
      line-height: 42px;
    }
  }

  &__info {
    @include flex-constructor($align: normal);
    margin-top: 40px;

    @media screen and (max-width: 1025px) {
      flex-direction: column;
    }

    &__content {
      @include flex-constructor($direction: column, $gap: 24px, $align: normal, $justify: normal);
      width: 48%;

      @media screen and (max-width: 1256px) {
        width: 45%;
      }

      @media screen and (max-width: 1025px) {
        width: 100%;
        margin-top: 32px;
      }

      &__description {
        font-family: $main-font;
        font-style: $font-style;
        font-weight: $font-regular;
        font-size: 16px;
        line-height: 35px;
        letter-spacing: $main-letter-spacing;
        color: $light-color-text;
        text-align: justify;
      }

      &__statistic {
        @include flex-constructor($direction: column, $align: normal, $justify: normal, $gap: 8px);
      }

      &__stars {
        @include flex-constructor($justify: normal, $gap: 20px);
      }
    }
  }
}

.popularity {
  @include p2-16();
  color: $dark-color-text;
}

.button__wrapper {
  max-width: 308px;
  margin: 0 auto;
}
