@import 'styles/base/extends';
@import 'styles/base/variables';

.link {
  @extend %button-l;
  padding: 10px 22px;
  border: $accent-border;
  border-radius: $medium-border-radius;
  color: $light-color-text;
  transition: $main-transition;
  background: transparent;

  &:hover {
    background: $transparent-white-background;
    color: $button-text-gradient;
  }
}