@import 'styles/base/mixins';
@import 'styles/base/variables';
@import 'styles/base/extends';

.button {
  @include flex-constructor($justify: center);
  @extend %button-l;
  padding: 10px 22px;
  background: $main-accent-color;
  border-radius: $medium-border-radius;
  color: $dark-color-text;
  width: 308px;
  height: 51px;
  transition: $main-transition;

  @media screen and (max-width: 1025px) {
    width: 100%;
  }

  &:hover {
    background: $accent-greeny-cyan;
  }
}

// #82fff8;
// $accent-greeny-cyan