@import 'styles/base/variables';

.image {
  width: 520px;
  height: 613px;
  background-repeat: no-repeat;
  background-size: cover;
  border: $image-border;
  border-radius: $image-border-radius;
  background-clip: content-box;
  background-position: center;

  @media screen and (max-width: 1151px) {
    width: 420px;
    height: 513px;
  }

  @media screen and (max-width: 1025px) {
    width: 100%;
    background-position: 100%;
  }

  @media screen and (max-width: 701px) {
    height: 400px;
  }
}
