@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.category {
  @include flex-constructor($direction: column, $justify: normal, $gap: 20px);
  padding: 14px;
  background: $transparent-white-background;
  border-radius: $main-border-radius;
  position: relative;
  overflow: hidden;
  z-index:2;
  

  @media screen and (max-width: 1025px) {
    max-width: 200px;
  }

  @media screen and (max-width: 701px) {
    max-width: 265px;
    width: 265px;
  }

  @media screen and (max-width: 500px) {
    max-width: 100%;
    width: 100%;
  }

  &:hover::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 220%;
		height: 220%;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: $card-animation;
		animation: rotate 2s linear infinite;
	}
	
	&:hover::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		border-radius: 5px;
	}

  &__image {
    border-radius: $main-border-radius;
    width: 100%;
    height: 100%;

    &_wrapper {
      width: 280px;
      height: 324px;

      @media screen and (max-width: 1025px) {
        width: 175px;
        height: 233px;
      }

      @media screen and (max-width: 701px) {
        width: 100%;
        height: 286px;
      }
    }
  }

  &__title {
    @extend %p1-24;
    color: $light-color-text;
  }

  &__statistic {
    @include flex-constructor($direction: column, $justify: center, $gap: 8px);
  }
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}