@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.form {
  background: $transparent-white-background;
  border-radius: $main-border-radius;
  width: 416px;
  margin: 40px auto 0;
  padding: 48px;

  @media screen and (max-width: 1025px) {
    width: 632px;
  }

  @media screen and (max-width: 701px) {
    width: 100%;
  }

  &__wrapper {
    @include flex-constructor($direction: column, $align: flex-start, $justify: normal, $gap: 34px);

    @media screen and (max-width: 1025px) {
      gap: 37px;
    }

    @media screen and (max-width: 701px) {
      gap: 24px;
    }
  }

  &__title {
    @include p2-16;
    color: $dark-color-text;
    margin-bottom: 28px;

    @media screen and (max-width: 1025px) {
      margin-bottom: 24px;
    }
  }

  &__registration {
    @extend %p3-14;
    color: $light-color-text;
    text-align: center;
    margin: 0 auto;
  }
}

.link {
  @extend %p3-14;
  color: $main-accent-color;
  text-align: center;
}
