@import 'styles/base/mixins';

.comments {
  @include flex-constructor($direction: column, $justify: normal, $align: normal, $gap: 60px);
  margin: 100px 0;

  @media screen and (max-width: 1025px) {
    margin: 80px 0;
    gap: 40px;
  }

  @media screen and (max-width: 701px) {
    margin: 60px 0;
  }

  &__list {
    @include flex-constructor($justify: center, $align: stretch, $gap: 16px);

    @media screen and (max-width: 1024px) {
      @include flex-constructor($direction: column, $align: flex-start, $justify: normal, $gap: 20px);
    }
  }
}
