@import 'styles/base/variables';
@import 'styles/base/mixins';

.load {
  width: 50%;
  height: 10px;
  background: $button-text-gradient;
  background-color: $light-color-text;
  margin: auto;
  border-radius: $small-border-radius;
  background-size: 20%;
  background-repeat: repeat-y;
  background-position: -25% 0;
  animation: load 1.2s ease-in-out infinite;

  &__wrapper {
    @include flex-constructor($direction: column, $justify: normal, $gap: 10px);
    width: 100%;
    padding: 30px 0;
    background: $transparent-white-background;
    border-radius: $main-border-radius;
  }

  &__text {
    font-family: $main-font;
    font-style: $font-style;
    font-weight: $font-regular;
    font-size: 16px;
    line-height: 47px;
    letter-spacing: $main-letter-spacing;
    color: $light-color-text;

    @media screen and (max-width: 1025px) {
      font-size: 24px;
      line-height: 31px;
    }
  }
}

@keyframes load {
  50% {
    background-size: 80%;
  }
  100% {
    background-position: 125% 0;
  }
}
