@import 'styles/base/mixins';
@import 'styles/base/variables';

.wrapper {
  @include flex-constructor($direction: column, $justify: normal);
  width: 60%;
  background: $transparent-white-background;
  box-shadow: $main-box-shadow;
  border-radius: $main-border-radius;
  margin: 80px auto 0;
  padding: 50px;

  @media screen and (max-width: 1025px) {
    width: 632px;
  }

  @media screen and (max-width: 701px) {
    width: 100%;
  }
}

.glitch {
  color: $dark-color-text;
  font-size: 100px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  animation: noise-zoom 1s infinite linear alternate-reverse;
}
@keyframes noise-zoom {
  0% {
    transform: scale(1 - calc(random(10) / 100));
  }
  10% {
    transform: scale(1 - calc(random(3) / 100));
  }
  20% {
    transform: scale(1 - calc(random(3) / 100)) skew(-(random(10)-5) + deg, 0);
  }
  30% {
    transform: scale(1 - calc(random(3) / 100));
  }
  40% {
    transform: scale(1 - calc(random(3) / 100));
  }
  50% {
    transform: scale(1 - calc(random(3) / 100));
  }
  60% {
    transform: scale(1 - calc(random(3) / 100));
  }
  70% {
    transform: scale(1 - calc(random(3) / 100));
  }
  80% {
    transform: scale(1 - calc(random(3) / 100));
    transform: scale(1 - calc(random(3) / 100)) skew(-random(10) + deg, 0);
  }
  90% {
    transform: scale(1 - calc(random(3) / 100));
  }
}
@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*calc(1 / $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
      text-shadow: (random(20)-10 + px) (random(20)-10 + px) (random(40) + px) rgba(255, 255, 255, 0.8);
    }
  }
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*calc(1 / $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
      text-shadow: (random(20)-10 + px) (random(20)-10 + px) (random(40) + px) rgba(random(255), random(255), random(255), 0.6);
    }
  }
}
