@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.wrapper {
  @include flex-constructor($justify: normal, $gap: 10px);
}

.rate {
  @extend %button-m;
  color: $dark-color-text;
}
