.footer {
  background: #404040;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px 0 16px;
  margin: 0 80px;
  gap: 78px;
}

.footer__actions {
  display: flex;
  gap: 70px;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__logo_text {
  font-family: "Tektur";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.footer__navigation {
  width: 768px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  row-gap: 10px;
  justify-items: end;
}

.footer__copyrights_text {
  font-family: "Tektur";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #8F8F8F;
}/*# sourceMappingURL=Footer.module.css.map */