.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 160px 0;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 38px;
  max-width: 632px;
}

.hero__content_title {
  font-family: "Tektur";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 70px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__content_subtitle {
  font-family: "Tektur";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.05em;
  color: #000000;
  text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 22px;
  background: #25FFF2;
  border-radius: 16px;
  font-family: "Tektur";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  width: 308px;
  height: 51px;
}

.hero__image_wrapper {
  max-width: 520px;
  max-height: 520px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.2);
}

.hero__image {
  border-radius: 24px;
  margin: 50px;
}/*# sourceMappingURL=MainPage.module.css.map */