.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  align-items: center;
  row-gap: 10px;
  width: 66%;

  @media screen and (max-width: 1025px) {
    width: 100%;
    row-gap: 8px;
  }

  @media screen and (max-width: 431px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
