@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.logout {
  @include flex-constructor($justify: center, $gap: 10px);
  @extend %button-m;
  padding: 10px;
  background: $attention_color;
  border-radius: $small-border-radius;
  color: $light-color-text;
}
