@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.sort {
  &__button {
    background: transparent;
  }

  &__wrapper {
    position: relative;
  }

  &__options {
    @include flex-constructor($direction: column, $justify: center, $align: normal, $gap: 10px);
    position: absolute;
    padding: 10px;
    background: $light-color-text;
    border-radius: $small-border-radius;
    z-index: 4;

    @media screen and (max-width: 701px) {
      right: -60px;
      top: 40px;
    }

    @media screen and (max-width: 580px) {
      right: 0;
    }
  }

  &__option {
    @extend %p3-14;
    color: $dark-color-text;
    background: transparent;
    width: 150px;
    display: flex;

    &-chosen {
      @extend %p3-14;
      color: $dark-color-text;
      background: transparent;
      width: 150px;
      display: flex;
    }
  }
}
