@import 'styles/base/variables';
@import 'styles/base/mixins';

.header {
  background: $header-background;
}

.wrapper {
  @include flex-constructor();
  padding: 20px 0px;
  max-width: 1280px;
  margin: 0 80px;

  @media screen and (min-width: 1441px) {
    margin: 0 auto;
  }

  @media screen and (max-width: 1025px) {
    max-width: 632px;
    margin: 0 auto;
  }

  @media screen and (max-width: 701px) {
    max-width: 100%;
    margin: 0 40px;
  }

  @media screen and (max-width: 431px) {
    max-width: 100%;
    margin: 0 7px;
  }
}
