@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.footer {
  background: $dark-grey;
  margin-top: 150px;

  &__wrapper {
    @include flex-constructor($direction: column, $justify: normal, $align: normal, $gap: 40px);
    padding: 32px 0 16px;
    margin: 0 80px;
    max-width: 1280px;

    @media screen and (min-width: 1440px) {
      margin: 0 auto;
    }

    @media screen and (max-width: 1025px) {
      max-width: 632px;
      margin: 0 auto;
    }

    @media screen and (max-width: 701px) {
      max-width: 100%;
      margin: 0 40px;
    }

    @media screen and (max-width: 431px) {
      max-width: 100%;
      margin: 0 7px;
      gap: 8px;
    }
  }

  &__actions {
    @include flex-constructor($align: flex-start, $gap: 70px);

    @media screen and (max-width: 1025px) {
      flex-direction: column;
      gap: 28px;
    }
  }

  &__copyrights_text {
    @extend %p4-12;
    text-align: center;
    color: $grey;
  }
}
