@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.comment {
  @include flex-constructor($direction: column, $align: flex-start, $justify: normal, $gap: 10px);
  padding: 14px;
  background: $transparent-white-background;
  box-shadow: $main-box-shadow;
  border-radius: $main-border-radius;
  width: 32%;

  @media screen and (max-width: 1025px) {
    width: 100%;
  }

  &__user {
    @include flex-constructor($justify: normal, $gap: 14px);
  }

  &__info {
    @include flex-constructor($direction: column, $align: flex-start, $gap: 10px);
  }

  &__author {
    @extend %p1-24;
    color: $light-color-text;
  }

  &__category {
    @extend %p3-14;
    color: $main-accent-color;
  }

  &__text {
    font-family: $main-font;
    font-style: $font-style;
    font-weight: $font-regular;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: $main-letter-spacing;
    color: $light-color-text;
  }
}
