@import 'styles/base/variables';
@import 'styles/base/mixins';

.categories {
  @include flex-constructor($direction: column, $justify: normal);
  margin: 100px 0;

  @media screen and (max-width: 1025px) {
    margin: 80px 0;
  }

  @media screen and (max-width: 701px) {
    margin: 60px 0;
  }

  &__list {
    @include flex-constructor($align: normal);
    flex-wrap: wrap;
    width: 100%;
    margin: 60px 0 40px;

    @media screen and (max-width: 1438px) {
      display: grid;
      grid-template-columns: repeat(2, 308px);
      grid-template-rows: repeat(2, 1fr);
      justify-content: center;
      column-gap: 30px;
      row-gap: 25px;
    }

    @media screen and (max-width: 1025px) {
      @include flex-constructor($justify: center, $gap: 16px);
      margin: 40px 0 30px;
    }

    @media screen and (max-width: 701px) {
      flex-direction: column;
    }
  }
}
