@import 'styles/base/variables';
@import 'styles/base/extends';

.button {
  @extend %button-m;
  padding: 4px 8px;
  background: $dark-color-text;
  border-radius: $small-border-radius;
  font-family: $main-font;
  color: $light-color-text;
  max-width: 37px;
  max-height: 29px;
  border: $general-border;
  transition: all 0.3s linear 0s;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border: $hover-border;
    color: $dark-color-text;
    background: $light-color-text;
  }

  @media screen and (max-width: 1025px) {
    max-width: 42px;
    max-height: 40px;
    width: 42px;
    height: 40px;
  }
}
