@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.input {
  @include flex-constructor($direction: column, $justify: center, $align: flex-start, $gap: 10px);
  padding: 10px;
  background: $forms-grey;
  border-radius: $small-border-radius;
  width: 100%;
  border: $fields-border;
  transition: $main-transition;

  &__label_wrapper {
    @include flex-constructor($direction: column, $align: flex-start, $justify: normal, $gap: 10px);
    @extend %p4-12;
    color: $dark-color-text;
    width: 100%;
  }

  &:focus {
    border: $accent-fields-border;
  }

  &:hover {
    border: $accent-fields-border;
  }

  &__error {
    @include flex-constructor($direction: column, $justify: center, $align: flex-start, $gap: 10px);
    padding: 10px;
    background: $forms-grey;
    border-radius: $small-border-radius;
    width: 100%;
    border: $error-fields-border;

    &_message {
      @extend %p3-14;
      color: $attention_color;
    }
  }

  &::placeholder {
    @extend %p3-14;
    color: $grey;
  }
}
