@import './variables';
@import './fonts';

%h1-54 {
  font-family: $main-font;
  font-style: $font-style;
  font-weight: $font-regular;
  font-size: 54px;
  line-height: 70px;
  letter-spacing: $main-letter-spacing;
}

%h2-36 {
  font-family: $main-font;
  font-style: $font-style;
  font-weight: $font-regular;
  font-size: 36px;
  line-height: 47px;
  letter-spacing: $main-letter-spacing;
}

%sub-h1-32 {
  font-family: $main-font;
  font-style: $font-style;
  font-weight: $font-regular;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: $main-letter-spacing;
}

%p1-24 {
  font-family: $main-font;
  font-style: $font-style;
  font-weight: $font-regular;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: $main-letter-spacing;
}

%p1-24-bold {
  font-family: $main-font;
  font-style: $font-style;
  font-weight: $font-bold;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: $main-letter-spacing;
}

%p3-14 {
  font-family: $main-font;
  font-style: $font-style;
  font-weight: $font-regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: $main-letter-spacing;
}

%p4-12 {
  font-family: $main-font;
  font-style: $font-style;
  font-weight: $font-regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: $main-letter-spacing;
}

%button-xxl {
  font-family: $main-font;
  font-style: $font-style;
  font-weight: $font-regular;
  font-size: 36px;
  line-height: 47px;
  letter-spacing: $main-letter-spacing;
}

%button-l {
  font-family: $main-font;
  font-style: $font-style;
  font-weight: $font-regular;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: $main-letter-spacing;
}

%button-m {
  font-family: $main-font;
  font-style: $font-style;
  font-weight: $font-regular;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: $main-letter-spacing;
}
