@import './variables';
@import './fonts';

@mixin flex-constructor($display: flex, $direction: row, $justify: space-between, $align: center, $gap: 0) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin p2-16($height: 21px) {
  font-family: $main-font;
  font-style: $font-style;
  font-weight: $font-regular;
  font-size: 16px;
  line-height: $height;
  letter-spacing: $main-letter-spacing;
}

@mixin plan-card($background: $transparent-green-background, $border: $accent-plan-border) {
  padding: 50px 30px;
  background: $background;
  border: $border;
  border-radius: 24px;
  width: 23%;
  min-width: 308px;
}
