$main-font: 'Tektur', sans-serif;
$font-style: normal;

$font-regular: 400;
$font-bold: 700;

$main-letter-spacing: 0.05em;

$main-accent-color: #25fff2;
$accent-greeny-cyan: #90ffde;
$light-color-text: #ffffff;
$dark-color-text: #000000;
$secondary-button-text-color: #0025e5;
$button-text-gradient: linear-gradient(90deg, #5200ff 0%, #db00ff 100%);
$dark-grey: #404040;
$grey: #8f8f8f;
$lines: #14f999;
$attention_color: #93032e;
$chose-color: #d1e3ff;

$main-background: linear-gradient(113.31deg, #62c1a4 7.87%, #1a5c80 88.6%);
$header-background: #3263ae;
$secondary-accent-skyblue: #69bbed;
$navigation-account-background: rgba(0, 0, 0, 0.2);
$transparent-white-background: rgba(255, 255, 255, 0.2);
$transparent-green-background: rgba(43, 204, 2, 0.2);
$forms-grey: #e7e7e7;

$main-border-radius: 24px;
$medium-border-radius: 16px;
$small-border-radius: 12px;
$circle-border-radius: 50%;
$image-border-radius: 48px;
$check-box-radius: 2px;

$accent-border: 1px solid $main-accent-color;
$accent-plan-border: 4px solid $light-color-text;
$general-border: 1px solid $dark-color-text;
$image-border: 50px solid $transparent-white-background;
$check-box-border: 2px solid $light-color-text;
$fields-border: 3px solid transparent;
$accent-fields-border: 3px solid $main-accent-color;
$error-fields-border: 3px solid $attention_color;
$separator-border: 1px solid $header-background;
$hover-border: 1px solid $light-color-text;

$avatar-size: 75px;
$large-avatar-size: 135px;

$main-text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
$secondary-text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$main-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);

$main-transition: all 0.3s linear 0s;
$mobile-menu-transition: 1.2s cubic-bezier(0.26, 0.89, 0.77, 0.54);
$card-animation: conic-gradient(transparent, rgb(207, 246, 255), transparent 30%);
