@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.content {
  @include flex-constructor($direction: column, $justify: center, $align: flex-start, $gap: 38px);
  width: 49%;

  @media screen and (max-width: 1230px) {
    width: 60%;
    margin-top: 40px;
    align-items: center;
  }

  @media screen and (max-width: 1025px) {
    width: 100%;
  }

  &__title {
    @extend %h1-54;
    color: $light-color-text;
    text-shadow: $secondary-text-shadow;

    @media screen and (max-width: 1230px) {
      text-align: center;
    }

    @media screen and (max-width: 1025px) {
      font-size: 36px;
      line-height: 47px;
    }
  }

  &__subtitle {
    @extend %sub-h1-32;
    color: $dark-color-text;
    text-shadow: $main-text-shadow;

    @media screen and (max-width: 1230px) {
      text-align: center;
      font-size: 24px;
    }

    @media screen and (max-width: 1025px) {
      line-height: 31px;
    }
  }
}
